sudo: required

language: go

services:
  - docker

go:
  - "1.10"

before_install:
  - go get github.com/adlio/trello
  - go get github.com/nlopes/slack

addons:
  apt:
    packages:
      - docker-ce

script:
  - go test -v
  - GOOS=linux GOARCH=amd64 CGO_ENABLED=0 go build main.go
  - docker build -t dhruvdhir/bot:1.0.$TRAVIS_BUILD_NUMBER -t dhruvdhir/bot:latest .
  - echo "$password" | docker login -u "$username" --password-stdin
  - docker push dhruvdhir/bot:latest
  - docker push dhruvdhir/bot:1.0.$TRAVIS_BUILD_NUMBER