# This is a weird way of telling Travis to use the fast container-based test
# runner instead of the slow VM-based runner.
sudo: false

language: go

language: go
sudo: false
go:
  - "1.10"

before_install:
  - go get github.com/adlio/trello
  - go get github.com/nlopes/slack

script:
  - go build
  - go test -v